h2 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 50px;
}
div {
  margin: 5px;
  padding: 200px;
  display: inline-block;
}

.rgb{
    background-color : rgb(255, 0, 0);
}

.hex{
    background-color : #FF0000;
}

.hsl{
    background-color: hsl(0, 100%, 50%);
}
